body{
    background:  rgb(255,255,255, 0.2) url("../../assets/qcg.jpeg") no-repeat right top fixed ;
    background-size: 100%;
    

}
div{
    color: blue;
}
#id_title_1{
    color: black;
    font-size: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
}
#id_button_1{
    padding-top: 2%;
}

.divCenter_1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#id_brasao_l{
    padding-bottom: 2%;
}
#id_container_page_1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
